.login_form{
    height: 330px;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}
.title{
    background-color: black;
    width: 300px;
    height: 80px;
    text-align: center;
    border: 0.001px solid rgb(191, 180, 180);
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
}
.email{
    border:1px solid gray;
    border-radius: 25px;
    height: 300 px;
}
.password{
    border:1px solid gray;
    border-radius: 25px;
    height: 300 px;
}
